/* ABOUT */

.about_container {
  margin: auto;
  padding: 7rem 0rem;
}

body {
  color: #36391c;
}

.about_us section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.what {
  gap: 3.9rem;
}

.about {
  gap: 10rem;
}

.join {
  gap: 11rem;
}
/* Styles for the hero section */
.about_hero {
  position: relative;
}

/* Styles for the video container */
.video-container {
  width: 100%;
  overflow: hidden;
  height: 500px;
}

/* Styles for the video itself */
.video-container video {
  width: 100%;
  height: auto;
  z-index: -1;
  object-fit: cover;
}
