/* ABOUT */
img {
  max-width: 500px;
}

.about_hero {
  display: flex;
  justify-content: center;
}

.about_container {
  margin: auto;
  padding: 7rem 0rem;
}

body {
  color: #36391c;
}

.about_us {
  margin-inline: 20px;
}

@media (max-width: 800px) {
  .about_us {
    margin-inline: 40px;
    display: block;
  }
}

.about_us section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@media (max-width: 800px) {
  .about_us section {
    margin-inline: 40px;
    display: block;
    margin-top: 40px !important;
  }
}

.what {
  gap: 3.9rem;
}

.about {
  gap: 10rem;
}

.join {
  gap: 11rem;
}

/* Styles for the video container */
.video-container {
  width: 100%;
  overflow: hidden;
  max-height: 500px;
}

/* Styles for the video itself */
.video-container video {
  max-width: 100%;
  height: auto;
  z-index: -1;
  object-fit: cover;
}
