:root {
  --primary-color-dark: #1f2d24;
}

body {
  background-color: #ebf4c0;
}

.products {
  margin-top: 150px;
  gap: 20px;
  margin-inline: 4rem;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .products {
    display: block;
  }
}

h1,
h2 {
  margin-bottom: 2rem;
}

.image {
  width: 80%;
  object-fit: contain;
}

.list {
  list-style: none;
  color: var(--text-light);
  background-color: var(--primary-color-dark);
  padding: 40px;
}

.list h3 {
  margin-bottom: 10px;
}

.list li {
  margin-bottom: 30px;
}

.label {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.upload {
  max-width: 525px;
  background-color: var(--primary-color-dark);
  padding: 2rem;
  color: #f3f4f6;
  margin-top: 2rem;
}

#file-input {
  display: none;
}

.img_input {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.custom-file-upload {
  cursor: pointer;
  background-color: var(--primary-btn);
  color: var(--text-light);
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  transition: 0.5s ease;
}

.custom-file-upload:hover {
  background-color: #f3f4f6;
  color: #36391c;
}
